@page
@model MyBooks.Pages.BooksMaster.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.BookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.BookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books.BookAuthorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Books.Authors.AuthorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Books.BookId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
